<!DOCTYPE html>
<html lang="en" class="no-js">
<head class="html5reset-kitchensink-clean">
  <meta charset="utf-8" />
  <title>{{site.name}} - {{site.author}}</title>
  {% if page.summary %}
  <meta name="description" content="{{ page.summary }}" />
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{site.author}}" />
  <meta name="Copyright" content="Copyright {{site.author}} 2010 - 2012. All Rights Reserved." />
  <meta name="DC.title" content="{{site.name}}" />
  <meta name="DC.subject" content=".Net validation, pre-condition, Expectation, Contracts." />
  <meta name="DC.creator" content="{{site.author}}." />
  <link href="/favicon.png" type="image/png" rel="icon">
  <!-- For third-generation iPad with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.url}}assets/img/apple-touch-icon-144x144-precomposed.png">
  <!-- For iPhone with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.url}}assets/img/apple-touch-icon-114x114-precomposed.png">
  <!-- For first- and second-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.url}}assets/img/apple-touch-icon-72x72-precomposed.png">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="{{site.url}}assets/img/apple-touch-icon-precomposed.png">

  <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:700|Quattrocento' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{site.url}}assets/css/master.min.css" />
  <!--[if IE]>
  <link rel="stylesheet" href="{{site.url}}assets/css/patches/win-ie-all.css" />
  <![endif]-->
  <!--[if IE 7]>
  <link rel="stylesheet" href="{{site.url}}assets/css/patches/win-ie7.css" />
  <![endif]-->
  <!--[if lt IE 8]>
  <script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js"></script>
  <![endif]-->
  <script src="{{site.url}}assets/js/modernizr-1.5.min.js"></script>
</head>
<body>
  <div class="main-content">
    <header class="main">
      <h1>D<span class="accent-font">y</span>nProg.<span class="code">V</span>alidation</h1>
    </header>
    <nav class="mod">
      <ul>
        <!-- <li><a href="http://hgarcia.github.com/DynProg.Validation/">Home</a></li> -->
        <!-- <li><a href="http://hgarcia.github.com/DynProg.Validation/2012/12/01/api.html">Api</a></li> -->
        <li><a href="http://nuget.org/packages/DynProg.Validation">NuGet</a></li>
        <li><a href="https://github.com/hgarcia/DynProg.Validation">GitHub</a></li>
        <li><a href="https://github.com/hgarcia/DynProg.Validation/issues">Issues</a></li>
      </ul>
    </nav>
    <div class="main">
      {{ content }}
    </div>
  </div>
  <div class="main-footer">
    <ul class="auxiliary-nav">
      <li>Other projects
        <ul>
          <li><a href="http://gherkineditor.codeplex.com/" target="projects">gherkin editor</a></li>
          <li><a href="https://npmjs.org/package/bitbucket-api" target="projects">bitbucket-api [node]</a></li>
          <li><a href="https://npmjs.org/package/timeTraveller" target="projects">timeTraveller [node]</a></li>
        </ul>
      </li>
    </ul>
    <footer>
      <p><small>&copy; Copyright {{site.author}} 2007 - 2012. All Rights Reserved.</small></p>
    </footer>
  </div>
</body>
</html>
